{% extends "base.html" %}
{% block content %}
  <h1>Lisää järjestelmään uuden kurssin tiedot </h1>

  <form method="post" action="{{base_path}}/course">
    <div class="form-group">
      <label>Kurssin koko nimi</label>
      <input type="text" name="name" class="form-control" value="{% if attributes %}{{attributes.name}}{% endif %}">
    </div>

    <div class="form-group">
      <label>Valitse kurssin vastuuhenkilö</label>
      <select class="form-control" name="incharge">
        {% for person in persons %}
        <option value="{% if attributes %}{{attributes.name}}{% else %}{{person.id}}{% endif %}"> {{person.name}}</option>
        {% endfor %}
      </select>
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-primary">Lisää</button>
    </div>
  </form>
{% endblock %}
