{% extends "base.html" %}
{% block content %}
  <h1>Lisää järjestelmään uuden kurssin tiedot </h1>

  <form method="post" action="{{base_path}}/course">
    <div class="form-group">
      <label>Kurssin koko nimi</label>
      <input type="text" name="name" class="form-control">
    </div>

    <div class="form-group">
      <label>Valitse kurssin vastuuhenkilö</label>
      <select name="incharge" class="form-control">
        {% for person in persons %}
        <option value="{{person.id}}"> {{person.name}}</option>
        {% endfor %}
      </select>
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-primary">Lisää</button>
    </div>
  </form>
{% endblock %}
