{% extends "base.html" %}
{% block content %}
  <h1>Muokkaa käyttäjän tietoja</h1>

  <form>
    <div class="form-group">
      <label>Käyttäjä nimi</label>
      <input type="text" class="form-control" value="Ope1">
    </div>
    <div class="form-group">
      <label>Käyttäjä salasana</label>
      <input type="text" class="form-control" value="Ope1">
    </div>  
    <div class="checkbox">
        <label>
        <input type="checkbox" checked="checked"> 
        Ylläpitäjä 
        </label>
    </div>        
    <div class="form-group">
      <button type="submit" class="btn btn-success">Tallenna</button>
    </div>
  </form>
{% endblock %}
