{% extends "base.html" %}
{% block content %}
{% import "macros/forms.html" as forms %}

  <h1>Henkilöt</h1>

  {% if user_logged_in %}
  <p>
    <a href="{{base_path}}/person/new" class="btn btn-success">Lisää käyttäjä</a>
  </p>
  {% endif %}

  <table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Käyttäjän nimi</th>
            <th>Ylläpitäjä</th>
            {% if user_logged_in.admin %}
            <th>Muokaa henkilön tietoja</th>
            {% endif %}
        </tr>
    </thead>

    <tbody>
        {% for person in persons %}
        <tr>
            <td><a href="{{base_path}}/person/{{person.id}}">{{person.name}}</a></td>
            <td>
                {% if person.admin %}
                Kyllä
                {% else %}
                Ei
                {% endif %}
            </td>           
            {% if user_logged_in.admin %}
            <td>{{forms.edit_link("#{base_path}/person/#{person.id}/edit")}}</td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
  </table>
{% endblock %}
