{% extends "base.html" %}
{% block content %} 
{% import "macros/forms.html" as forms %}

<h1>{{person.name}}</h1>

  {% if user_logged_in.admin %}
  <p>
    {{forms.destroy_button("#{base_path}/person/#{person.id}/destroy", "käyttäjän")}}
    {{forms.edit_link("#{base_path}/person/#{person.id}/edit")}}
  </p>
  {% endif %}
 
  <ul>
    <li><strong>Käyttäjän nimi:</strong> {{person.name}}</li>
    <li><strong>Ylläpitäjä:</strong>
        {% if person.admin %}
         Kyllä
        {% else %}
         Ei
        {% endif %}
    </li>
  </ul>
  
<h3>Käyttäjän aiheet</h3>  

<table class="table table-striped table-bordered">
    <thead>
        <tr>
          <th>Aiheen nimi</th>
          <th>Aiheen kuvaus</th>
          <th>Kurssin nimi</th>
        </tr>
    </thead>

    <tbody>
        {% for topic in topics %}
        <tr>
          <td><a href="{{base_path}}/topic/{{topic.id}}">{{topic.name}}</a></td>
          <td>{{topic.description}}</td>
          <td><a href="{{base_path}}/course/{{topic.course.id}}">{{topic.course.name}}</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h3>Käyttäjän kurssit</h3>  

<table class="table table-striped table-bordered">
    <thead>
        <tr>
          <th>Kurssin nimi</th>
        </tr>
    </thead>

    <tbody>
        {% for course in courses %}
        <tr>
          <td><a href="{{base_path}}/course/{{course.id}}">{{course.name}}</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
  
 {% endblock %}
