{% extends "base.html" %}
{% block content %}
  <h1>Muokkaa kurssin tietoja</h1>

  <form>
    <div class="form-group">
      <label>Kurssin nimi</label>
      <input type="text" class="form-control" value="Ohjelmointi">
    </div>
    <div class="form-group">
      <label>Kurssin vastuuhenkilö</label>
      <input type="text" class="form-control" value="Ope1">
    </div>          
    <div class="form-group">
      <button type="submit" class="btn btn-success">Tallenna</button>
    </div>
  </form>
{% endblock %}
