{% extends "base.html" %}
{% block content %}
  <h1>Kaikki harjoitustöiden aiheet</h1>

  <p>
    <a href="{{base_path}}/topic/new" class="btn btn-success">Lisää aihe</a>
  </p>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Aiheen nimi</th>
        <th>Aiheen kuvaus</th>
        <th>Kurssin nimi</th>
        <th>Vastuuhenkilöt</th>
        <th></th>
      </tr>
    </thead>

    <tbody>

      <tr>
        <td><a href="{{base_path}}/topic/1">Shakki</a></td>
        <td>Yksinkertainen shakki</td>
        <td>Ohjelmointi</td>
        <td>Ope1</td>
        <th><a class="btn btn-info btn-sm" href="{{base_path}}/topic/edit/1">Muokkaa</a></th>
      </tr>
    </tbody>
  </table>
{% endblock %}
