{% extends "base.html" %}
{% block content %}
  <h1>Muokkaa suoritusta</h1>

  <form method="post" action="{{base_path}}/credit/{{attributes.id}}/edit">
    <div class="form-group">
      <label>Valitse arvioija</label>
      <select class="form-control" name="givenby">
        <option value=""></option>  
        {% for person in persons %}
        {% if editcheck %}
        <option value="{{person.id}}" {% if person.id == attributes.givenby %} selected="true" {% endif %} > {{person.name}}</option>
        {% else %}
        <option value="{{person.id}}" {% if person.id == attributes.givenby.id %} selected="true" {% endif %} > {{person.name}}</option>
        {% endif %}        
        {% endfor %}
      </select>
    </div>

    <div class="form-group">
      <label>Valitse aihe</label>
      <select class="form-control" name="topic">
        <option value=""></option>  
        {% for topic in topics %}
        {% if editcheck %}
        <option value="{{topic.id}}" {% if topic.id == attributes.topic %} selected="true" {% endif %} > {{topic.name}}</option>
        {% else %}
        <option value="{{topic.id}}" {% if topic.id == attributes.topic.id %} selected="true" {% endif %} > {{topic.name}}</option>
        {% endif %}         
        {% endfor %}
      </select>
    </div>
      
    <div class="checkbox">
      <label><input name="interrupted" type="checkbox" {% if attributes.interrupted %} checked="checked" {% endif %}>Keskeytetty</label>
    </div>     

    <div class="form-group">
      <label>Anna harjoitustyön aloituspäivämäärä muodossa:vuosi-kk-päivä (esim. 2017-01-20)</label>
      <input type="text" name="startdate" class="form-control" value="{{attributes.startdate}}">
    </div>  
      
    <div class="form-group">
      <label>Anna harjoitustyön valmistumispäivämäärä muodossa:vuosi-kk-päivä (esim. 2017-03-12)</label>
      <input type="text" name="enddate" class="form-control" value="{{attributes.enddate}}">
    </div>

    <div class="form-group">
      <label>Arvosana</label>
      <input type="text" name="grade" class="form-control" value="{{attributes.grade}}">
    </div>          
      
    <div class="form-group">
      <button type="submit" class="btn btn-success">Tallenna</button>
    </div>
  </form>
{% endblock %}