{% extends "base.html" %}
{% block content %}
  <h1>Muokkaa suoritusta</h1>

  <form>
    <div class="form-group">
      <label>Aiheen nimi</label>
      <input type="text" class="form-control" value="Shakki">
    </div>
    <div class="form-group">
      <label>Vastuuhenkilöt</label>
      <input type="text" class="form-control" value="Ope1">
    </div>
    <div class="form-group">
      <label>Aloitettu</label>
      <input type="text" class="form-control" value="2015-09-09">
    </div>
    <div class="checkbox">
        <label>
        <input type="checkbox"> 
        Keskeytetty 
        </label>
    </div>  
    <div class="form-group">
      <label>Valmis</label>
      <input type="text" class="form-control" value="2015-11-09">
    </div>  
    <div class="form-group">
      <label>Arvosana</label>
      <input type="text" class="form-control" value="5">
    </div>      
    <div class="form-group">
      <button type="submit" class="btn btn-success">Tallenna</button>
    </div>
  </form>
{% endblock %}