{% extends "base.html" %}
{% block content %}
{% import "macros/forms.html" as forms %}

  <h1>Kaikki harjoitustöiden suoritukset</h1>

  {% if user_logged_in %}
  <p>
    <a href="{{base_path}}/credit/new" class="btn btn-success">Lisää suoritus</a>
  </p>
  {% endif %}
   
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Linkki suoritukseen</th>
        <th>Aiheen nimi</th>
        <th>Vastuuhenkilö</th>
        <th>Aloitettu</th>
        <th>Keskeytetty suoritus</th>
        <th>Valmis</th>
        <th>Arvosana</th>
        {% if user_logged_in %}
        <th>Muokaa suoritusta</th>
        {% endif %}
      </tr>
    </thead>

    <tbody>
      {% for credit in credits %}
      <tr>
        <td><a href="{{base_path}}/credit/{{credit.id}}">{{credit.id}}</a></td>
        <td><a href="{{base_path}}/topic/{{credit.topic.id}}">{{credit.topic.name}}</a></td>
        <td><a href="{{base_path}}/person/{{credit.givenby.id}}">{{credit.givenby.name}}</a></td>
        <td>{{credit.startdate}}</td>
        <td>
            {% if credit.interrupted %}
            Kyllä
            {% else %}
            Ei
            {% endif %}
        </td>
        <td>{{credit.enddate}}</td>
        <td>{{credit.grade}}</td>
        {% if user_logged_in %}
        <td>{{forms.edit_link("#{base_path}/credit/#{credit.id}/edit")}}</td>
        {% endif %}
      </tr
      {% endfor %}
    </tbody>
  </table>
{% endblock %}