{% extends "base.html" %}
{% block content %}
  <h1>Lisää uuden suorituksen tiedot järjestelmään</h1>

  <form method="post" action="{{base_path}}/credit">
    <div class="form-group">
      <label>Valitse arvioija</label>
      <select name="givenby" class="form-control">
        {% for person in persons %}
        <option value="{{person.id}}">{{person.name}}</option>
        {% endfor %}
      </select>
    </div>

    <div class="form-group">
      <label>Valitse aihe</label>
      <select name="topic" class="form-control">
        {% for topic in topics %}
        <option value="{{topic.id}}">{{topic.name}}</option>
        {% endfor %}
      </select>
    </div>
      
    <div class="checkbox">
      <label><input name="interrupted" type="checkbox">Keskeytetty</label>
    </div>     

    <div class="form-group">
      <label>Anna harjoitustyön aloituspäivämäärä muodossa:vuosi-kk-päivä (esim. 2017-01-20)</label>
      <input type="text" name="startdate" class="form-control" value="{% if attributes %}{{attributes.startdate}}{% endif %}">
    </div>  
      
    <div class="form-group">
      <label>Anna harjoitustyön valmistumispäivämäärä muodossa:vuosi-kk-päivä (esim. 2017-03-12)</label>
      <input type="text" name="enddate" class="form-control" value="{% if attributes %}{{attributes.enddate}}{% endif %}">
    </div>

    <div class="form-group">
      <label>Arvosana</label>
      <input type="text" name="grade" class="form-control" value="{% if attributes %}{{attributes.grade}}{% endif %}">
    </div>        

    <div class="form-group">
      <button type="submit" class="btn btn-primary">Lisää</button>
    </div>
  </form>
{% endblock %} 