{% extends "base.html" %}
{% block content %}

  <h1>Suoritus</h1>
  <p>
    <form method="post" action="{{base_path}}/credit/{{credit.id}}/destroy" style="display: inline-block;">
        <button type="submit" class="btn btn-danger">Poista</button>
    </form> 
    <a href="{{base_path}}/credit/{{credit.id}}/edit" class="btn btn-info">Muokkaa</a>
  </p>
  <ul>
    <li><strong>Aiheen nimi:</strong><a href="{{base_path}}/topic/{{credit.topic.id}}"> {{credit.topic.name}}</a></li>
    <li><strong>Vastuuhenkilö:</strong><a href="{{base_path}}/person/{{credit.givenby.id}}"> {{credit.givenby.name}}</a></li>
    <li><strong>Aloituspäivämäärä:</strong> {{credit.startdate}}</li>
    <li><strong>Hyväksytty (pvm): </strong> 
        {% if credit.interrupted %}
        Suoritus keskeytetty
        {% else %}
        {{credit.enddate}}
        {% endif %}
    </li>
    <li><strong>Arvosana:</strong> {{credit.grade}}</li> 
  </ul>

{% endblock %}
