{% extends "base.html" %}
{% block content %}
{% import "macros/forms.html" as forms %}

  <h1>Suoritus</h1>
  
  {% if user_logged_in %}
  <p>
    {{forms.destroy_button("#{base_path}/credit/#{credit.id}/destroy")}}
    {{forms.edit_link("#{base_path}/credit/#{credit.id}/edit")}}
  </p>
  {% endif %}
  
  <ul>
    <li><strong>Aiheen nimi:</strong><a href="{{base_path}}/topic/{{credit.topic.id}}"> {{credit.topic.name}}</a></li>
    <li><strong>Vastuuhenkilö:</strong><a href="{{base_path}}/person/{{credit.givenby.id}}"> {{credit.givenby.name}}</a></li>
    <li><strong>Aloituspäivämäärä:</strong> {{credit.startdate}}</li>
    <li><strong>Hyväksytty (pvm): </strong> 
        {% if credit.interrupted %}
        Suoritus keskeytetty
        {% else %}
        {{credit.enddate}}
        {% endif %}
    </li>
    <li><strong>Arvosana:</strong> {{credit.grade}}</li> 
  </ul>

{% endblock %}
