{% extends "base.html" %}
{% block content %}
  <h1>Muokkaa aiheen {{attributes.name}} tietoja</h1>

  <form method="post" action="{{base_path}}/topic/{{attributes.id}}/edit">
    <div class="form-group">
      <label>Aiheen nimi</label>
      <input type="text" name="name" class="form-control" value="{{attributes.name}}">
    </div>

    <div class="form-group">
      <label>Valitse aiheen vastuuhenkilö</label>
      <select name="person" class="form-control">
        <option value= "">{{attributes.person.name}}</option>            
        {% for person in persons %}
        <option value="{{person.id}}"> {{person.name}}</option>
        {% endfor %}
      </select>
    </div>

    <div class="form-group">
      <label>Aiheen kuvaus</label>
      <input type="text" name="description" class="form-control" value="{{attributes.description}}">
    </div>  
      
    <div class="form-group">
      <label>Valitse aiheen kurssi</label>
      <select name="course" class="form-control">
        <option value= "">{{attributes.course.name}}</option>            
        {% for course in courses %}
        <option value="{{course.id}}"> {{course.name}}</option>
        {% endfor %}
      </select>
    </div>
      
    <div class="form-group">
      <button type="submit" class="btn btn-success">Tallenna</button>
    </div>
  </form>      
  </form>
{% endblock %}