{% extends "base.html" %}
{% block content %}
  <h1>Lisää uuden aiheen tiedot järjestelmään</h1>

  <form method="post" action="{{base_path}}/topic">
    <div class="form-group">
      <label>Aiheen nimi</label>
      <input type="text" name="name" class="form-control" value="{% if attributes %}{{attributes.name}}{% endif %}">
    </div>

    <div class="form-group">
      <label>Valitse aiheen vastuuhenkilöt</label>
      <select class="form-control" name="persons[]" multiple="multiple">                    
        {% for person in persons %}
        <option value="{{person.id}}" {% for pi in attributes.persons %} {% if person.id == pi %} selected="true" {% endif %} {% endfor %}> {{person.name}}</option>
        {% endfor %}
      </select>
    </div>

     <div class="form-group">
      <label>Aiheen kuvaus</label>
      <input type="text" name="description" class="form-control" value="{% if attributes %}{{attributes.description}}{% endif %}">
    </div>  
      
    <div class="form-group">
      <label>Valitse aiheen kurssi</label>
      <select class="form-control" name="course">
        <option value=""></option>                      
        {% for course in courses %}
        <option value="{{course.id}}" {% if course.id == attributes.course %} selected="true" {% endif %}> {{course.name}}</option>
        {% endfor %}
      </select>
    </div>     

    <div class="form-group">
      <button type="submit" class="btn btn-primary">Lisää</button>
    </div>
  </form> 
{% endblock %}
