{% extends "base.html" %}
{% block content %}

  <h1>{{topic.name}}</h1>
  <p>
    <button class="btn btn-danger">Poista</button> <a href="{{base_path}}/topic/edit/1" class="btn btn-info">Muokkaa</a>
  </p>
  <ul>
    <li><strong>Kurssin nimi:</strong> {{topic.name}}</li>
    <li><strong>Vastuuhenkilöt:</strong> <a href="{{base_path}}/person/{{topic.addedby.id}}">{{topic.addedby.name}}</a></li>
    <li><strong>Suoritettu:</strong> ...</li>
    <li><strong>Keskeytetty:</strong> ...</li>
    <li><strong>Keskimääräinen kesto:</strong> ...</li>
    <li><strong>Keskimääräinen arvosana:</strong> ...</li> 
  </ul>
  
  <p>
    {{topic.description}}  
  </p>
{% endblock %}