{% extends "base.html" %}
{% block content %}

  <h1>{{topic.name}}</h1>
  <p>
    <button class="btn btn-danger">Poista</button> <a href="{{base_path}}/topic/edit/1" class="btn btn-info">Muokkaa</a>
  </p>
  <ul>
    <li><strong>Kurssin nimi:</strong> {{topic.name}}</li>
    <li><strong>Vastuuhenkilöt:</strong> <a href="{{base_path}}/person/{{topic.addedby.id}}">{{topic.addedby.name}}</a></li>
    <li><strong>Suoritettu:</strong> ...</li>
    <li><strong>Keskeytetty:</strong> ...</li>
    <li><strong>Keskimääräinen kesto:</strong> ...</li>
    <li><strong>Keskimääräinen arvosana:</strong> ...</li> 
  </ul>
  
  <p>
    {{topic.description}}  
  </p>
  
  <h3>Aiheen suoritukset</h3>  
  
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Linkki suoritukseen</th>
        <th>Vastuuhenkilö</th>
        <th>Aloitettu</th>
        <th>Keskeytetty suoritus</th>
        <th>Valmis</th>
        <th>Arvosana</th>
      </tr>
    </thead>

    <tbody>
        {% for credit in credits %}
      <tr>
        <td><a href="{{base_path}}/credit/{{credit.id}}">{{credit.id}}</a></td>
        <td><a href="{{base_path}}/person/{{credit.givenby.id}}">{{credit.givenby.name}}</a></td>
        <td>{{credit.startdate}}</td>
        <td>
            {% if credit.interrupted %}
            Kyllä
            {% else %}
            Ei
            {% endif %}
        </td>
        <td>{{credit.enddate}}</td>
        <td>{{credit.grade}}</td>
      </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}